<h1>Listings#show</h1>

<%= @listing.title %>
<%= @listing.description %>
<%= @listing.price %>
<% @listing.pictures.each do |pic| %>
<%= image_tag  pic,class:"show-image", class:"index-pix" %>
<% end %>



