<h1>This is from Listing type selection</h1>

<%= link_to "Sell a dress", new_listing_path(bundle: false), class:"btn btn-primary button" %>

<%= link_to "Sell a bundle", new_listing_path(bundle: true), class:"btn btn-primary button" %>

