// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form{
  margin-left: 20px;
}

.show-pic{
  max-height: 450px;
}

.show-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listing-index{
  background: lightcoral;
  display: flex;
  // justify-content: left;
  // justify-content: space-evenly;
  flex-wrap: wrap;
}

// .card-width{
//   width: 25%;
// }