.container-fluid{
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
}


.main-container{
  display: grid;
  grid-template-columns: 20% auto;
  overflow: hidden;

}

.user-profile{
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  position: -webkit-sticky;
  position: sticky;
}
.listings-container{
  overflow: scroll;
}